extends ../shared/layout
block main-content
    h1 Error! Wrong password or username Please try to log in again
    a(href="/login" class="btn btn-warning btn-lg btn-primary  f-button center-block" ) GO TO LOG IN!
    img(src="http://www.blogbusters.ch/wp-content/uploads/2015/06/minions-film-2015-320x205.jpg" class="center-block")